.container-2{
 background-image: url("https://res.cloudinary.com/dc875ky15/image/upload/v1562762919/Gruppe_14_sxvx7e.png");
}

.col-md-6  {
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: #bebdba;
  margin:40px;
  padding:10px;

}

