.horizontal-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80vh;
  margin-top: 10px;
}


p {
  margin-block-end: 8px;

}

.description{
   text-decoration: none;
   color:   #000000;
}

.subtitle{
  border-bottom: solid 1px #bebdba;
}

.main-description h1 {
  border-bottom: solid 1px #bebdba;
  margin-bottom: 21px;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  padding: 36px;
  overflow: auto;
}

.main-description{

}

.main-image > img {
  height: 80vh;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.btn-flat-show {
  width: fit-content;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #465BA0;
  transition: background 0.3s ease;
  margin: 10px;
}


