<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <p>FAQ</p>
  <div class="footer-copyright">
    This website is made with <strong>a wig</strong> in Wigland.
  </div>
</div>
